    <main class="mb-auto">
    <div class="col-md-6 mx-auto mt-5">
  <h1>welcome to <strong>Meshiterro</strong>  !!</h1>
  <p>In  <span class="glyphicon glyphicon-book"></span><strong>Meshiterro</strong>, </p>
  <p>SNS community that indiscriminately stimulates the appetite of sensible citizens.</p>
  <div class="row">
   <p class="ml-3"><a class="btn btn-info" href="/users/sign_in">Log in</a></p>
   <p class="ml-3"><a class="btn btn-success" href="/users/sign_up">Sign Up</a></p>
  </div>
</div>
    </main>

    <footer class="bg-dark text-white pt-5 pb-4">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4">
            <p>善良な市民同士で無差別に食欲を煽るSNS</p>
            <img src="/assets/logo-white-1b9aa6dd136f26492db6c915e6adae164afe7d427099ea6101d99d03c9bcd250.png">
          </div>
          <div class="col-md-8">
            <h6 class="text-white mt-2 mb-3">Link</h6>
            <ul class="p-0 list-unstyled">
              <li>
                <a href="" title="About" class="text-white-50">会社概要</a>
              </li>
              <li>
                <a href="" title="License informations" class="text-white-50">プライバシーポリシー</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>